<div class="container-fluid">
  <h1>Meteorologist</h1>

  <p>Where are you?</p>
  <form action="/street_to_weather">

    <div class="input-group" style="width: 40%">
      <span class="input-group-addon" id="basic-addon-1"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Street address" name="user_street_address" id="the_address" aria-describedby="basic-addon1">
    </div>
    <br>

    <button class="btn btn-primary btn-block" type="submit" style="width: 15%">Tell me the weather!</button>

  </form>
</div>
